
body
{
font-family: "times new roman";}
table, th, tr,td {
border: 0.5px solid black;
margin: 1px;
padding: 10px; }

th, caption{
background-color: orange;
border: 0.5px solid black;
margin: 1px;
padding: 10px;
}
